---
import { Image } from "astro:assets";
import logo from "@assets/logo.webp";
import Container from "./Container.astro";

const socialLinks = [
  { name: "Facebook Sorteo Colimense", url: "#" },
  { name: "Facebook Trébol Colimense", url: "#" },
  { name: "Instagram", url: "#" },
];

const whatsappLines = [
  "Línea de contacto #1",
  "Línea de contacto #2",
  "Línea de contacto #3",
  "Línea de contacto #4",
];
---

<footer class="bg-aFondo text-white py-6 md:py-8">
  <Container className="grid grid-cols-1 md:grid-cols-3 gap-8 ">
    <!-- Redes Sociales -->
    <div class="text-center md:text-left">
      <h3 class="text-primary font-semibold text-lg mb-4">
        Nuestras redes sociales
      </h3>
      <ul>
        {
          socialLinks.map((link) => (
            <li>
              <a
                href={link.url}
                class="hover:underline hover:underline-offset-4 hover:decoration-primary transition duration-200"
              >
                {link.name}
              </a>
            </li>
          ))
        }
      </ul>
    </div>

    <!-- Descripción -->
    <div class="text-center">
      <h3 class="text-primary font-semibold text-lg mb-4">Trébol Colimense</h3>
      <p class="mb-4">
        Somos un equipo dedicado a rifas entre amigos, desde el año 2019,
        teniendo hasta el día de hoy una comunidad de más de 70 mil seguidores
        en nuestra página de Facebook.
      </p>
      <a
        href="/nosotros"
        class="text-primary font-medium hover:underline hover:underline-offset-4 hover:decoration-primary transition duration-200"
      >
        Conoce más sobre nosotros
      </a>
    </div>

    <!-- Líneas de WhatsApp -->
    <div class="text-center md:text-right">
      <h3 class="text-primary font-semibold text-lg mb-4">
        Líneas de WhatsApp
      </h3>
      <ul>
        {whatsappLines.map((line, index) => <li>{line}</li>)}
      </ul>
    </div>
  </Container>
</footer>
