---
import Layout from "@layouts/Layout.astro";
import Container from "@components/shared/Container.astro";
---

<Layout title={"404"}>
  <Container>
    <div class="flex items-center justify-center min-h-screen">
      <h1 class="text-8xl text-primary">Not found</h1>
    </div>
  </Container>
</Layout>
