---
import Layout from "@layouts/Layout.astro";
import Container from "@components/shared/Container.astro";
import Formulario from "@components/boletos/Formulario";
---

<Layout>
  <Container>
    <div class="flex flex-col justify-center items-center mb-4 text-center">
      <span class="text-4xl text-primary font-bold max-w-4xl"
        >Busca tus boletos apartados y pagados en la gran PRIMERA EDICION #1
      </span>
    </div>
    <div
      class="text-primary text-center flex flex-col justify-center items-center prose-xl md:max-w-2xl mx-auto pt-10"
    >
      <p>
        Encuentra los boletos que has apartado durante la actual rifa, y mira
        cuales de han sido confirmados como pagados.
      </p>
    </div>
    <main class="pb-10 pt-4">
      <Formulario client:load />
    </main>
  </Container>
</Layout>
