---
import Container from "@components/shared/Container.astro";
import { Icon } from "astro-icon/components";
---

<div class="bg-primary p-6 items-center flex text-center">
  <Container>
    <span class="text-3xl md:text-4xl text-black font-bold uppercase"
      >¿Dónde estamos úbicados?
    </span>
    <p class="text-xl md:max-w-screen-sm mx-auto mt-4">
      Nos encontramos en Colima, MEXICO. Donde se encuentran nuestras oficinas.
      Envia un mensaje a nuestras lineas de whatsapp.
    </p>

    <div
      class="flex flex-col md:flex-row gap-4 items-center justify-center py-10"
    >
      <a
        target="_blank"
        href="https://wa.me/526421111111"
        class="bg-secondary text-white font-bold py-2 px-4 prose rounded-xl md:prose-xl hover:scale-105 transition-all ease-in flex items-center flex-col"
      >
        <Icon name={"whatsapp"} size={32} />
        Contactanos</a
      >
      <a
        target="_blank"
        href="https://wa.me/526421111111"
        class="bg-secondary text-white font-bold py-2 px-4 prose rounded-xl md:prose-xl hover:scale-105 transition-all ease-in flex items-center flex-col"
      >
        <Icon name={"whatsapp"} size={32} />
        Contactanos</a
      >
      <a
        target="_blank"
        href="https://wa.me/526421111111"
        class="bg-secondary text-white font-bold py-2 px-4 prose rounded-xl md:prose-xl hover:scale-105 transition-all ease-in flex items-center flex-col"
      >
        <Icon name={"whatsapp"} size={32} />
        Contactanos</a
      >
      <a
        target="_blank"
        href="https://wa.me/526421111111"
        class="bg-secondary text-white font-bold py-2 px-4 prose rounded-xl md:prose-xl hover:scale-105 transition-all ease-in flex items-center flex-col"
      >
        <Icon name={"whatsapp"} size={32} />
        Contactanos</a
      >
    </div>
  </Container>
</div>
