---
import { Icon } from "astro-icon/components";

interface Props {
  title: string;
  description: string;
  icon: string;
}

const { title, description, icon } = Astro.props;
---

<div
  class="flex flex-col items-center justify-center bg-primary rounded-2xl px-4 py-8"
>
  <Icon name={icon} size={48} />
  <span class="text-black font-bold text-2xl clear-start mb-4">{title}</span>
  <p class="prose-xl border-t-2 border-black py-2">{description}</p>
</div>
