---

---

<div
  class="w-full h-20 md:h-24 bg-gradient-to-r from-primary via-secondary to-primary flex items-center justify-center text-center"
>
  <div class="text-black font-bold text-lg md:text-2xl prose-2xl">
    GRAN PRIMERA EDICIÓN #1
    <div class="text-sm md:text-lg font-normal text-white prose-2xl">
      DESDE $49 MXN
    </div>
  </div>
</div>
