---
import Card from "./Card.astro";
import { premios } from "@constants/pasosBoletos";
import Container from "@components/shared/Container.astro";
---

<Container>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    {
      premios.map((premio) => (
        <Card
          title={premio.title}
          description={premio.description}
          icon={premio.icon}
        />
      ))
    }
  </div>
</Container>
